<%layout("layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <!-- calc(100vh -128px) -->
    <div class="col-8 offset-2">
      <h3>Edit your listing</h3>
      <form
        action="/listings/<%=Data._id%>?_method=put"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            type="text"
            name="Data[title]"
            value="<%= Data.title %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            type="text"
            name="Data[description]"
            class="form-control"
            required
          >
<%= Data.description %></textarea
          >
          <div class="invalid-feedback">please enter a short description</div>
        </div>

        <div class="mb-3">
          Original Listing Image <br>
         <img class="col-5" src="<%=Data.image.url%>">
        </div>

        <div class="mb-3">
          <label for="image" class="form-lable">Upload new Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input
              type="number"
              name="Data[price]"
              value="<%= Data.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">please enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input
              type="text"
              name="Data[country]"
              value="<%= Data.country %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">please enter valid country name</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            type="text"
            name="Data[location]"
            value="<%= Data.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter valid location</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Submit</button>
      </form>
    </div>
  </div>
</body>
