<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create new listing</h3>
    <form action="/listings/<%=Data._id%>?_method=put" method="post">
        <input type="text" name="Data[title]" value=<%= Data.title %>>
        <br><br>
        <textarea type="text" name="Data[description]" ><%= Data.description %></textarea>
        <br><br>
        <input type="text" name="Data[image]" value=<%= Data.image %>>
        <br><br>
        <input  type="number" name="Data[price]" value=<%= Data.price %>>
        <br><br>
        <input type="text" name="Data[country]" value=<%= Data.country %>>
        <br><br>
        <input type="text" name="Data[location]" value=<%= Data.value %>>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>