<%layout("layouts/boilerplate")%>
 <body>
    <h3>listing details</h3>
    <ul>
        <li><%= showData.title %></li>
        <li><%= showData.description %></li>
        <li> &#8377;<%= showData.price.toLocaleString("en-IN") %></li>
        <li><%= showData.location %></li>
        <li><%= showData.country %></li>
    </ul>
    <br>
    <a href="/listing/<%=showData._id%>/edit">Edit</a>
    <br><br>
    <form action="/listings/<%= showData._id%>/delete?_method=Delete" method="post">
        <button>Delete this listing</button>
    </form>
 </body>
